<div id="<%= dom_id interview %>" class="mb-3 border border-blue-600 p-2">
  <p>
    <strong>Round:</strong>
    <%= interview.round %>
  </p>

  <p>
    <strong>Verdict:</strong>
    <%= interview.verdict %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= interview.feedback %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= interview.start_time %>
  </p>

</div>
