<div id="<%= dom_id candidate %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= candidate.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= candidate.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current role:</strong>
    <%= candidate.current_role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Applied role:</strong>
    <%= candidate.applied_role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= candidate.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total experience:</strong>
    <%= candidate.total_experience %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Relevant experience:</strong>
    <%= candidate.relevant_experience %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Skills:</strong>
    <%= candidate.skills %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notice period:</strong>
    <%= candidate.notice_period %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Resume link:</strong>
    <%= candidate.resume_link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Linkedin link:</strong>
    <%= candidate.linkedin_link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Github link:</strong>
    <%= candidate.github_link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Repo link:</strong>
    <%= candidate.repo_link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company name:</strong>
    <%= candidate.company_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Feedback:</strong>
    <%= candidate.feedback %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Offer given:</strong>
    <%= candidate.offer_given %>
  </p>

</div>
