<p>
  <strong>Name:</strong>
  <%= @panelist.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @panelist.email %>
</p>

<p>
  <strong>Expertise:</strong>
  <%= @panelist.expertise %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @panelist.bio %>
</p>

<%= link_to 'Edit', edit_panelist_path(@panelist) %> |
<%= link_to 'Back', panelists_path %>
