<body class="bg-gray-100">
<div class="container">
  <section class="w-full bg-gray-100">
    <div class="bg-gray-800 text-white text-center py-6">
      <h1 class="text-3xl font-semibold">
        <%= t('organizations.show.heading') %>
      </h1>
      <p class="text-lg">
        <%= t('organizations.show.subheading') %>
      </p>
    </div>

    <div class="flex flex-col items-center gap-4 py-4 text-lg">
      <div class="bg-transparent py-1 px-8 text-cyan-500 text-sm rounded-md w-fit">
        <p>
          <%= t('organizations.show.fields.info_name') %>
        </p>
      </div>

      <div data-controller="inline-edit">
        <div class="flex flex-row gap-2 items-center">
          <span class="font-bold">
            <%= t('organizations.show.fields.labels.name') %>
          </span>
          <span data-inline-edit-target="name" class="editable"><%= @organization.name %></span>
          <%= form_with model: @organization, local: true, data: { inline_edit_target: "form" }, class: "hidden" do |form| %>
            <%= form.text_field :name, data: { inline_edit_target: "input" }, class: "w-[300px] mt-1 rounded-md border-gray-200 shadow-sm sm:text-md py-3" %>
            <%=
              form.submit t('organizations.show.buttons.save_name'),
                          data: { action: "inline-edit#save" },
                          class: "cursor-pointer rounded-md border border-indigo-600 bg-indigo-600 px-6 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
            %>
          <% end %>
        </div>
      </div>

      <div class="flex flex-row gap-2 items-center">
        <span class="font-bold">
          <%= t('organizations.show.fields.labels.invite_code') %>
        </span>
        <%= @organization.invite_code %>
      </div>

      <div>
        <%=
          button_to t('organizations.show.buttons.regenerate_invite_code'),
                    regenerate_invite_code_organization_path(@organization),
                    method: :patch,
                    class: "cursor-pointer rounded-md border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
        %>
      </div>

      <div>
        <%= link_to t('organizations.show.buttons.create_candidate'), new_candidate_path,
                    class: "cursor-pointer rounded-md border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium
                    text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500" %>
      </div>

      <div class="w-full mt-8">
        <h2 class="text-2xl font-semibold mb-4">
          <%= t('organizations.show.candidates.title') %>
        </h2>
        <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
          <thead class="bg-gray-200 text-gray-600">
          <tr>
            <th class="py-2 px-4 border-b">
              <%= t('organizations.show.panelists.columns.name') %>
            </th>
            <th class="py-2 px-4 border-b">
              <%= t('organizations.show.panelists.columns.email') %>
            </th>
            <th class="py-2 px-4 border-b">
              <%= t('organizations.show.panelists.columns.skills') %>
            </th>
            <th class="py-2 px-4 border-b">
              <%= t('organizations.show.panelists.columns.relevant_experience') %>
            </th>
            <th class="py-2 px-4 border-b">
              <%= t('organizations.show.panelists.columns.current_role') %>
            </th>
            <th class="py-2 px-4 border-b">
              <%= t('organizations.show.panelists.columns.applied_role') %>
            </th>
          </tr>
          </thead>
          <tbody>
          <% @organization.candidates.each do |candidate| %>
            <tr class="hover:bg-gray-100 text-center">
              <td class="py-2 px-4 border-b"><%= candidate.name %></td>
              <td class="py-2 px-4 border-b"><%= candidate.email %></td>
              <td class="py-2 px-4 border-b"><%= candidate.skills %></td>
              <td class="py-2 px-4 border-b"><%= candidate.relevant_experience %></td>
              <td class="py-2 px-4 border-b"><%= candidate.current_role %></td>
              <td class="py-2 px-4 border-b"><%= candidate.applied_role %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <!-- Panelists Table -->
      <div class="w-full mt-8">
        <h2 class="text-2xl font-semibold mb-4">
          <%= t('organizations.show.panelists.title') %>
        </h2>
        <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
          <thead class="bg-gray-200 text-gray-600">
          <tr>
            <th class="py-2 px-4 border-b">
              <%= t('organizations.show.panelists.columns.name') %>
            </th>
            <th class="py-2 px-4 border-b">
              <%= t('organizations.show.panelists.columns.email') %>
            </th>
            <th class="py-2 px-4 border-b">
              <%= t('organizations.show.panelists.columns.expertise') %>
            </th>
            <th class="py-2 px-4 border-b">
              <%= t('organizations.show.panelists.columns.available_time_slots') %>
            </th>
          </tr>
          </thead>
          <tbody>
          <% @organization.panelists.each do |panelist| %>
            <tr class="hover:bg-gray-100 text-center">
              <td class="py-2 px-4 border-b"><%= panelist.name %></td>
              <td class="py-2 px-4 border-b"><%= panelist.email %></td>
              <td class="py-2 px-4 border-b"><%= panelist.expertise %></td>
              <td class="py-2 px-4 border-b"><%= panelist.available_time_slots %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
</body>
